*{
   margin:0;
   padding:0;
}
html
}
img{border:0;}
body{
margin:0 auto; 
max-width:100%;
width:100%;
font-family:"simhei","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
}
.header{
background:url(../images/triangle_blog.png) no-repeat;
width:100%;
height:793px;
position:relative;
}
#logo{
	width:166px;
	height:41px;
    left:18px;
    top:24px;
     position:absolute;
	 border:0;
}
#logo img{
border:0;
}
#en{
	float:right;
	background:#000;
	color:#FFF;
	font-size:0.5em;
	padding:5px 5px;
	}
#en a{
	text-decoration:none;
	color:#FFF;
}
.nav{
   width:120px;
    left:80px;
    top:82px;
    position:absolute;
}
.nav ul
{
width:80px;
float:left;
}

.nav ul li{
  list-style-type:none;
  text-align:right;
   color:#a7997d;
   font-size:0.8em;
   line-height:15px;
}
.nav ul li a{
   text-decoration:none;
   color:#a7997d;
}
.nav ul li a:hover{
   color:#FFFFFF;
}
.nav .arrow{
width:15px;
float:left;
padding-left:10px;
}
.nav .arrow li{
  list-style-type:none;
width:10px;
height:15px;
line-height:15px;
}
.nav .arrow li img{
border:0;
}


.blog{
width:840px;
height:680px;
position:absolute;
top:85px;
left:202px;
background:url(../images/blog.png) no-repeat;
border:none;
}
.blog_content{
width:740px;
height:511px;
margin:98px 30px 0px 70px;
overflow:auto;
scrollbar-arrow-color: #574215; /*三角箭头的颜色*/
scrollbar-face-color: #574215; /*立体滚动条的颜色*/
scrollbar-3dlight-color: #666; /*立体滚动条亮边的颜色*/
scrollbar-highlight-color: #cccccc; /*滚动条空白部分的颜色*/
scrollbar-shadow-color: #999; /*立体滚动条阴影的颜色*/
scrollbar-darkshadow-color: #666; /*立体滚动条强阴影的颜色*/
scrollbar-track-color: #cccccc; /*立体滚动条背景颜色*/
scrollbar-base-color:#f8f8f8; /*滚动条的基本颜色*/
Cursor:url(mouse.cur); /*自定义个性鼠标*/
}
::-webkit-scrollbar {
   width: 0.2em;
}

::-webkit-scrollbar:horizontal 
{
   height: 0.2em;
}


.blog_left{
width:700px;
}
.blue{
height:80px;
background-color:#0099ff;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;

}
.blueleft{
width:515px;
height:50px;
float:left;
padding:15px;
line-height:25px;
font-size:16px;
}
.blueright{
width:125px;
height:50px;
float:left;
font-size:11px;
padding:10px 10px 0px 20px;
}
.blueright strong{
font-size:14px;
}
.blog_pic{
width:700px;
height:385px;
clear:both;
}
.blog_int{
width:700px;
margin:0 auto;
padding-top:5px;
}
.blog_int p{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}


.exit img{
float:right;
border:0;
}
.clear{
clear:both;
position:relative;
}

.footer{
width:80%;
height:24px;
background:url(../images/bgbottom.png) repeat-x;
position:fixed;
bottom:0;
right:0;
color:#dddddd;
font-size:0.8em;
z-index:5;
}

.search{
width:188px;
height:22px;
border:none;
padding:1px 1px;
float:left;
}

.search #txt{
width:164px;
height:22px;
background:#6e6e6f;
border:none;
color:#999999;
float:left;
}
.search #btn{
width:24px;
height:24px;
background:url(../images/button_blog.png) no-repeat;
float:left;
border:0;
}
input{
  outline:none;
  font-family:"simhei";
}
.btnav{
float:left;
margin-left:12px;
width:210px;
line-height:24px;
}
.btnav a{
text-decoration:none;
color:#dddddd;
}
.copyright{
float:right;
margin-right:5px;
line-height:24px;
font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
}

#playBox{ width:1580px; height:800px;margin:0 auto; background:#333;overflow:hidden;display:inline;list-style:none;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left; width:1580px; height:800px;}
#playBox .oUlplay li img{border:0;}

#playBox .smalltitle {width:180px; height:24px; position:fixed; bottom:0px;left:60%;z-index:1000;}

#playBox .smalltitle .pre{ cursor:pointer; width:24px; height:24px; background:url(../images/buttonl_blog.png) no-repeat; z-index:10;float:left;position:absolute;}
#playBox .smalltitle .next{ cursor:pointer; width:24px; height:24px; background:url(../images/button_blog.png) no-repeat; z-index:10;float:left;position:absolute;margin-left:150px;}
#playBox .smalltitle span{display:block;margin-left:-30px;float:left;color:#666666;font-size: 0.8em;line-height: 24px;}

#playBox .smalltitle ul{ width:120px; margin:0 auto;line-height:24px;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:6px 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#574215;}